@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf")
    format("truetype");
  // font-family: "Inter";
  // src: url("../assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {

}

body {
  background-color: #f0f0f0;
}
